body {
    background-image: url('static/img/pexels-fwstudio-129731.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #333;
    font-weight: 800;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px;
  color: #333;
  font-style: normal;
}

h2 {
    text-align: center;
    color: blue; /* Change this to your desired color */
    /* Add other styles for h2 if needed */
}

/* Links (a) */
a.btn {
    color: green; /* Change this to your desired link color */
    /* Add other styles for links if needed */
}

/* Buttons (button) */
.btn-outline-success {
    background-color: yellow; /* Change this to your desired button background color */
    border-color: green; /* Change this to your desired button border color */
    color: red; /* Change this to your desired button text color */
}

/* Table styles */
table {
    /* Add styles for the entire table, like width, padding, etc. */
}

/* Table header (thead) */
thead {
    background-color: #333; /* Change this to your desired header background color */
    color: white; /* Change this to your desired header text color */
}

/* Table header cells (th) */
th {
    /* Add styles for table header cells, like padding, border, etc. */
}

/* Table data cells (td) */
td {
    /* Add styles for table data cells, like padding, border, etc. */
}


.dark-text {
    color: #000; /* Set the color to dark (e.g., black) */
}


